* {
    font-family: 'Roboto', sans-serif !important;
}
body {
    color: #333;
}
nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(25vw - 80px);
    background: #353b48;
    z-index: 1;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}
nav > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 100%;
    line-height: 60px;
    padding: 0;
}
nav h1 {
    text-align: center;
    padding-top: 15px;
}
nav a {
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
}
nav p {
    line-height: 22px;
    padding-bottom: 5px;
}
nav a:hover {
    text-decoration: underline;
}
nav .clickable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 30px;
}
nav .clickable a:hover {
    text-decoration: none;
}
nav .profile {
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
}
nav .profile img {
    border-radius: 3px;
}
.contact-button-container {
    text-align: center;
}
.contact-button {
    padding: 12px 20px;
    background: #3a539b;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 25px;
}
h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
h2 {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
}
main {
    margin-left: 25vw;
    background: #f1f2f6;
}

section.second h1,
section.third h1 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.job-year {
    padding-top: 5px;
    padding-bottom: 5px;
}
.job-subtitle {
    line-height: 22px;
}
.first .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.first .container > div {
    width: 50%;
}
.first .container > div.first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 28px;
}
.first .container > div.second {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.first .container > div.second img {
    border-radius: 2px;
}

.third img {
    height: 150px;
    margin-bottom: 15px;
}
.logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 65%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.logos > li {
    width: 21%;
    text-align: center;
    background: white;
    margin-bottom: 30px;
    padding: 20px;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}
.logos > li:hover {
    -webkit-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 11px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}

#nav .clickable img {
    height: 32px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    width: 74vw;
    margin: 0 auto;
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*padding: 40px;*/
}
.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 60px;
}
.projects > li {
    width: 31%;
    list-style-type: none;

    background: white;
    margin-bottom: 2%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}
.projects > li:hover {
    -webkit-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 11px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}
.projects > li:last-child {
    width: 100%;
}
.projects .lower {
    padding: 20px;
}
.projects > li p {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #333;
}
.projects > li p + a,
.projects > li p + p {
    font-size: 16px;
    color: #333;
    text-align: center;
    display: block;
    line-height: 22px;
}
.projects > li p + p:after {
    display: none;
}

.projects > li p:after {
    content: '';
    height: 2px;
    width: 50px;
    background: #27ae60;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 10px;
}
.projects > li .image {
    height: 250px;
    display: block;
    background-size: cover;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
}
.advania-image {
    background-size: 500px;
    display: block;
    height: 250px;
}

@media (max-width: 768px) {
    #nav {
        position: static;
        width: 100%;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
    main {
        margin-left: 0;
    }
    .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .projects > li {
        width: 48%;
        margin-bottom: 20px;
    }
    .logos > li {
        width: 42%;
    }
    .advania-image {
        background-size: cover;
        height: 250px;
        display: block;
    }
}

@media (max-width: 480px) {
    .projects > li {
        width: 100%;
    }
    .logos > li {
        width: 100%;
    }
}
